*{
    padding: 0px;
    margin: 0px;
}

.outer{
    width: 800px;
    height: 900px;
    margin: 0px auto;
}
.outer h1 {
    text-align: center;
}
p{
    font-size: 20px;
}
.border{
    width: 100%;
    padding: 5px;
    background-color: chocolate;
    border: 1px solid black;
    font-weight: bold;
    line-height: 0.5px;
}
ul{
    font-size: 20px;
    margin-left: 50px;
}
td{
    padding: 1px ;
    border: chocolate;
}
table
{
    border: 1px dashed black;
    }
div
{
    border-radius: 5px;
    }